<div class="container">
  <h3>Formulário de Endereço</h3>

  <div class="form-group">
    <label for="cep">CEP:</label>
    <input type="text" class="form-control" id="cep" [(ngModel)]="endereco.cep" name="cep" (blur)="buscarEndereco()">
  </div>

  <div class="form-group">
    <label for="logradouro">Logradouro:</label>
    <input type="text" class="form-control" id="logradouro" [(ngModel)]="endereco.logradouro" name="logradouro">
  </div>

  <div class="form-group">
    <label for="bairro">Bairro:</label>
    <input type="text" class="form-control" id="bairro" [(ngModel)]="endereco.bairro" name="bairro">
  </div>

  <div class="form-group">
    <label for="cidade">Cidade:</label>
    <input type="text" class="form-control" id="cidade" [(ngModel)]="endereco.cidade" name="cidade">
  </div>

  <div class="form-group">
    <label for="uf">UF:</label>
    <input type="text" class="form-control" id="uf" [(ngModel)]="endereco.uf" name="uf">
  </div>
</div>
