<h2>Editar Pessoa</h2>

<mat-card>
  <mat-card-content>
    <form>
      <table class="mat-table" *ngIf="pessoa">
        <tr>
          <th>ID</th>
          <td>{{ pessoa.id }}</td>
        </tr>
        <tr>
          <th>Nome</th>
          <td>
            <mat-form-field>
              <input matInput [(ngModel)]="pessoa.nome" name="nome" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>CPF</th>
          <td>
            <mat-form-field>
              <input matInput [(ngModel)]="pessoa.cpf" name="cpf" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>Email</th>
          <td>
            <mat-form-field>
              <input matInput [(ngModel)]="pessoa.email" name="email" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>Telefone</th>
          <td>
            <mat-form-field>
              <input matInput [(ngModel)]="pessoa.telefone" name="telefone" required>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <button mat-button (click)="criarPessoa()" color="primary">Criar</button>
    </form>
  </mat-card-content>
</mat-card>
