  .full-width {
    width: 400px;
  }
  
  .small-width {
    width: 100px;
  }
  
  .button-container {
    display: flex;
    align-items: center;
  }
  
  .botao {
    display: flex;
    align-items: center;
  }
  